@font-face {
  font-family: "ptsans";
  src: url("PTS55F.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "ptsans", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  margin-top: 100px;
}
/* navbar section*/
nav {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 20px 0;
  border-bottom: 1px solid;
}

.logo img {
  width: 50px;
  height: auto;
  margin-left: 20px;
}

.navbar {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

a:hover {
  color: grey;
}

.menu-toggle {
  display: none; /* Sembunyikan tombol hamburger pada tampilan desktop */
  cursor: pointer;
}

/* Header section*/
header {
  background-color: black;
  color: rgb(255, 255, 255);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: 100%;
  flex-direction: column;
  padding-top: 100px;
  background-image: url(./img/motocamping_bg.jpg);
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s;
}

.hero {
  background-color: #3be0af;
  padding: 10px 30px;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
}

.hero:hover {
  background-color: #00ff22;
}

.:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6);
}

.about-container {
  margin: 20px;
  padding: 20px;
  text-shadow: rgb(101, 100, 96) 1px 0 10px;
}

.centered-list {
  list-style-type: square;
}

h2 {
  font-weight: bold;
  margin-top: 50px;
}

.motocamping-photos h2 {
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

/* foto section */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 400px);
  gap: 10px;
}

.motocamping-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-container #image-1 {
  grid-column: 1;
  grid-row: 1 / 2 span;
  background-position: center;
  min-height: 100px;
}

.grid-container #image-4 {
  grid-row: 2;
  grid-column: 2 / 3 span;
}

/* section video */
#section-video .flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-video h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container {
  max-width: 600px;
  margin: 100px auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form label,
form textarea,
form input {
  display: block;
  margin-bottom: 10px;
}

form textarea {
  resize: vertical;
}

form button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Menampilkan tombol hamburger pada tampilan responsif */
@media only screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
    margin-right: 20px;
  }

  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background-color: #333;
  }

  nav ul li {
    margin: 0;
    text-align: center;
  }

  nav.active ul {
    display: flex;
  }
}

/* Media queries untuk tablet */
@media only screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero {
    height: 400px;
    width: auto;
    body {
      font-size: 75%;
    }
  }

  .nav-menu {
    display: none;
  }
  .menu-toggle {
    display: flex;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
  }
}

/* untuk handphone */
@media only screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  body {
    font-size: 50%;
  }
  .hero {
    height: 200px;
    width: auto;
    body {
      font-size: 75%;
    }
  }
  .nav-ul {
    display: none;
  }
  .menu-toggle {
    display: flex;
  }
}

/* iframe */
iframe {
  max-width: 480px;
}

/* form section */
fieldset {
  margin: 16px 0;
  border-radius: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0;
  margin: 8px 0;
  display: block;
}

input[type="date"] {
  margin: 8px 0;
  display: block;
}

#form-section {
  background-color: #333333;
  color: white;
  padding: 8px;
  margin-top: 16px;
}

#form-section form {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

button[type="submit"] {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

/* section video */
#section-video .flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0;
  bottom: 0;
  height: 30px;
  width: auto;
}
/* animation */
header {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* transition */
.motocamping-photo {
  filter: grayscale(100%);
  cursor: pointer;
}

.motocamping-photo:hover {
  filter: none;
  transition-property: filter;
  transition-duration: 1s;
}
